/* Navigation Panel Styling */

.image_layer_row{
	display:inline-block;
	margin:0px;
	padding:0px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

/* Products Panel Styling */

.products_items_container .list_items{
	padding-top:0px !important;
}

.products_items_container .list_items .key_features{
	font-size:15px;
}

.products_items_container .pdf_embed_prod{
	width:100%;
	height:1000px;
}

.products_items_container .product_category{
	color:red;
}

.item .item_info_container{
	text-align: right;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.info_heading{
	font-size:50px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}


.info_paragraph{
	font-size:22px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

/* Navigation Panel Styling */

.heading_container{
	padding-left: 220px;
	padding-right: 220px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.menu_sub_menu_container .menu_back_layer{
	margin-left:80px;
	margin-right:80px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.menu_back_layer .nav-pills li > a{
	color:#000;
	font-family: TexgyRead;
	font-size: 16px;
	font-weight: normal;
	border-radius: 0px;
	-webkit-transition: color 0.5s ease-in-out;
   -moz-transition: color 0.5s ease-in-out;
   -ms-transition: color 0..5s ease-in-out;
   -o-transition: color 0.5s ease-in-out;
   transition: color 0.5s ease-in-out;
   -webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.menu_back_layer .nav-pills li > a:hover{
	color:#fff;
	background: rgba(222,12,1,1);
	border-radius: 0px;
	background: rgba(240,71,65,1);
	background: -moz-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,71,65,1)), color-stop(100%, rgba(222,12,1,1)));
	background: -webkit-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -o-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: linear-gradient(to bottom, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04741', endColorstr='#de0c01', GradientType=0 );
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.menu_back_layer .nav-pills li.active > a{
	position: relative;
	font-family:TexgyRead;
	color:#fff;
	font-size: 16px;
	font-weight: normal;
	border-radius: 0px;
	background: rgba(240,71,65,1);
	background: -moz-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,71,65,1)), color-stop(100%, rgba(222,12,1,1)));
	background: -webkit-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -o-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	background: linear-gradient(to bottom, rgba(240,71,65,1) 0%, rgba(222,12,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04741', endColorstr='#de0c01', GradientType=0 );
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}


.menu_back_layer .nav-pills li.active > a:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(224, 10, 0, 0);
	border-top-color: #e00a00;
	border-width: 10px;
	margin-left: -10px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.contact_banner_container .contact_heading{
	padding:50px;
	font-size: 60px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

/* Footer Panel Styling */

.main_footer .col-lg-3{
	margin:0px;
	padding:0px;
	padding-right:50px;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.main_footer .text_box_container .email_input{
	width:80%;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.main_footer .lower_btn_container{
	display: table;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}

.main_footer .social_symbols_container{
	display:table-row;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition:all .9s ease-in-out;
	-moz-transition:all .9s ease-in-out;
	-o-transition:all .9s ease-in-out;
	transition:all .9s ease-in-out;
}